body {
  background: #002940;
  color: white;
  font-family: 'Avant Garde', sans-serif;
  font-weight: lighter;
  margin: 0;
  max-width: 700px;
}

button {
  letter-spacing: 2px;
}

.card {
  background: DimGray;
  border-radius: 20px;
  float: left;
  margin: 1.66%;
  padding-bottom: 21%;
  transition: all 0.6s;
  width: 21%;
}

h1 {
  font-weight: lighter;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-transform: lowercase;
}

#modal-container {
  position: relative;
}

#modal {
  background: black;
  border-radius: 15px;
  display: block;
  position: absolute;
  margin: 9%;
  text-align: center;
  width: 80%;
}

#modal-text {
  display: block;
  letter-spacing: 2px;
  margin: 20px;
}

#moves-and-stars {
  display: inline-block;
  letter-spacing: 2px;
  width: 40%;
}

.solved {
  box-shadow: 5px 5px 25px 3px gold,
  -5px -5px 25px 3px gold;
}

#stars {
  color: Gold;
}

#stripe {
  padding: 20px 0px;
  text-align: center;
}

#timer {
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 2px;
  width: 40%
}
