body {
  background: black;
  color: white;
  font-family: 'Avant Garde', sans-serif;
  font-weight: lighter;
  margin: 0;
  max-width: 700px;
}

button {
  letter-spacing: 2px;
}

.card {
  background: DimGray;
  border-radius: 20px;
  float: left;
  margin: 1.66%;
  padding-bottom: 21%;
  transition: all 0.6s;
  width: 21%;
}

/* #container {
  margin: 0;
  width: 700px;
} */

h1 {
  font-weight: lighter;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  text-transform: lowercase;
}

#moves-and-stars {
  display: inline-block;
  letter-spacing: 2px;
  padding-right: 20px;
  width: 20%
}

.solved {
  box-shadow: 5px 5px 25px 3px gold,
  -5px -5px 25px 3px gold;
}

#stripe {
  padding: 20px 0px;
  text-align: center;
}

#timer {
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 2px;
  width: 30%
}
